body {
	background-color: #BF3794;
	font-family: 'New Times';	
}
h1, h2, h3 {
	margin: 0;
}
#container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;

}
#header {
	background-color: #43CF1D	;
	padding: 20px;
	text-align: center;
	color: white;
}
#content {
	padding: 10px;
	margin-top: 20px;
}
.title {
	color: orange;
	width: 300px;
	padding: 20px;
	text-align: center;
	background-color: rgb(30,10,20);
	border-radius: 0 10px;
	font-size: 1.8em;
	cursor: pointer;
	box-shadow: 5px 5px 5px #abc123;
    

}
.text {
	background-color:#cd66aa;
   	padding: 10px;
   	color: #fff;
   	font-family:Georgia;
   	border-radius:  0 10px; 

   	
}

.pullquote {
	border: 2px solid orange;	
	display: block;
	width: 200px;
	padding: 13px;
	border-radius: 0 10px;
	float: right;
	margin: 10px;
	font-style: italic;	
}
#nav {
	float: left;
	width: 20%;
}
#nav ul {
	list-style: none;
	padding: 0;
}
#nav a {
	text-decoration: none;
	color: red;
}
.selected {
	font-weight: bold;
}
#main {
	float: right;
	width: 80%;
}

#footer p {
	clear: both;
	background-color: #999;
	padding: 10px;
	color: #fff;
	text-align: right;
}